
.brand-name
    font-size: 1.2rem
    font-weight: bold
    // color: #fff
    // text-decoration: none
a
    text-decoration: none
    color: #DFDFE2
    font-weight: 600
.nav-btn
    padding: 0.5rem 1rem
    border: 1px solid #7C5EB7
    border-radius: 10px
    background: rgb(124,94,183)
    background: linear-gradient(307deg, rgba(124,94,183,1) 0%, rgba(3,0,20,1) 100%)

.sub-title
    // font-size: 1.2rem
    // font-weight: 600
    border: 1px solid #7C5EB7
    padding: 0.2rem 1rem
    border-radius: 50px
    background: rgb(124,94,183)
    background: linear-gradient(307deg, rgba(124,94,183,1) 0%, rgba(3,0,20,1) 100%)
.header
    font-size: 4rem
    font-weight: 600
    text-align: center
.sub-header
    font-size: 2rem
    font-weight: 600
    text-align: center
.description
    color: #ADA8BF
    font-size: 1.2rem
.title
    // font-size: 1.2rem
    margin-top: 0.5rem
    font-weight: 500
.desc
    color: #ADA8BF
.feature
    &:hover
        background: rgb(15,8,52)
        background: linear-gradient(0deg, rgba(15,8,52,1) 0%, rgba(3,0,20,1) 100%)
.image
    width: 480px
    // height: 100%
    object-fit: cover

.anime
    width: 360px
    // height: 300px

@media screen and (max-width: 786px)
    .anime
        width: 80%
        height: auto
